@import "tailwindcss";

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #1e40af; 
  margin-bottom: 1rem;
  line-height: 1.2;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

p {
  @apply font-sans text-gray-700; 
}

h2 {
  @apply font-bold text-xl text-blue-800;
}

h3 {
  @apply font-semibold text-lg text-gray-800;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Card*/
.card {
  background-color: #007bff89; 
  border: 1px solid #007bff89;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-bottom: 1rem; 
}

.card h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
/* Default card style */
.card img {
  object-fit: contain;
  border-radius: 6px;
}

/* Sidebar Style */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;       
  width: 16rem;        
  background-color: #f9fafb; 
  padding: 1.25rem;    
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;    
}

/* Biar main konten geser */
.main-content {
  margin-left: 16rem; 
  flex: 1;
  padding: 2.5rem;    
}

/* Preview image*/
.preview-image1 {
  height: auto;
  width: 900px ;
}

.preview-image2 {
  height: auto;
  width: 900px ;
}

.judul {
  padding-top: 30px;
  padding-left: 50px;
}

.hrms {
  text-align: center;
}

.title-daftar{
  padding-top: 20px;
}

.title-password {
  padding-top: 20px;
}

.emergency {
  padding-top: 20px;
}

.extra {
  padding-top: 20px;
  text-align: center;
}

.tips {
  padding-top: 40px;
}

.indicator {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list {
  padding-top: 20px;
}

.tabel {
  padding-top: 20px;
}

.batas {
  padding-top: 20px ;
}